.proj{
    position: absolute;
    left: 32%;
    background: rgb(240, 252, 252);
    width: 250px;
    height: 250px;
    padding: 40px;
    border-radius: 50%;
}


.proj-text h1{
    font-size: 3rem;
    font-weight: bold;
    color: rgb(28, 184, 184);
}

.proj-text p{
    margin-left: 10px;
    color: grey;
    font-weight: 600;
}

.proj-text ul{
    margin-top: 6%;
    margin-left: 40px;
    font-weight: 800;

}

.proj-text ul li{
    color: rgb(59, 55, 55);
}

