@import '../styles/components/nav.css';
@import '../styles/components/button.css';
@import '../styles/components/projet.css';
@import '../styles/components/projet1.css';
@import '../styles/pages/about.css';
@import '../styles/pages/contact.css';
@import '../styles/pages/home.css';

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;

}

ul li{
    list-style: none;
}

a{
    text-decoration: none;
}